/* dropdown */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    display: block;
    position: relative;
    float: left;
}

li ul {
    display: none;
}

ul li a {
    display: block;
    padding: 1em;
    text-decoration: none;
    white-space: nowrap;
    color: white;
}

li:hover > ul {
    display: block;
    position: absolute;
}

.menu:hover{
    background-color: 	rgba(231, 146, 67, 0.9);
}

li:hover li {
    float: none;
}

.main-navigation li ul li {
    border-top: 0;
}


ul ul ul {
    left: 100%;
    top: 0;
    
}

ul:before,
ul:after {
    content: " "; /* 1 */
    display: table; /* 2 */
    
}

ul:after {
    clear: both;
}

/* end dropdown */

.banner h1 {
    font-size: 55px;
}

.ketengah {
    margin: 50px auto;
    width: 1150px;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.content {
    margin: 30px;
    font-family: "Montserrat", sans-serif;
    font-size: 18pt;
    font-variant: inherit;
}

.box {
    display: flex;
    height: 250px;
    background-color: #4d148c 25%;
    border-radius: 20px;
    margin: 0 auto;
}

.box:hover {
    background-color: #c2add8;
    color: #35333a;
    border-radius: 1px;
    box-shadow: 0 4px 5px 0 rgb(102, 47, 116),
        0 6px 15px 0 rgba(186, 85, 211, 0.25);
    text-decoration: none;
    border-radius: 20px;
}

.item {
    float: left;
    width: 50%;
    height: 200px;
    border-radius: 20px;
    flex: 1;
}

.item h1 {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 50px;
    font-family: "Inter", sans-serif;
    color: black;
    font-weight: bold;
    font-size: 20pt;
}

.item p {
    padding-top: 40px;
    padding-left: 110px;
    padding-right: 50px;
    color: black;
    font-weight: bold;
    font-size: large;
}

.item img {
    border-radius: 20px;
    height: 250px;
    width: 100%;
    max-width: auto;
}
